.vs/
ContosoAdsCloudService/bin/
ContosoAdsCloudService/csx/
ContosoAdsCloudService/obj/
ContosoAdsCommon/bin/
ContosoAdsWeb/bin/
ContosoAdsWeb/obj/
ContosoAdsCommon/obj/
ContosoAdsCommon/bin/
ContosoAdsWorker/bin/
ContosoAdsWorker/obj/
